.prayer-card {
  font-family: 'Roboto';
  position: relative;
  border-radius: 25px;
  padding: 0 90px;
  margin: 15px;
  height: 280px;
  background: #f3f6f9;
  background-repeat: no-repeat;
  background-position: 100% center;
  background-size: 100%;
  overflow: hidden;
}

.prayer-card__name {
  background: none;
  font-size: 18px;
  position: absolute;
  font-weight: 700;
  top: 58%;
  left: 50%;
  color: #32325c;
  transform: translate(-50%, -50%);
}

.prayer-card__time {
  padding: 10px 25px; 
  border-radius: 25px;
  position: absolute;
  font-weight: 900;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(rgba(255, 255, 255, .6),rgba(254, 254, 254, .6));
  text-align: center;
  color: #444;
}

.dark .prayer-card {
  background-color: #2d3344;
}

.dark .prayer-card__name {
  color: #eee;
}

@media (max-width: 1200px) {
  .prayer-card {
    padding: 0 70px;
    height: 218px;
  }

  .prayer-card__name {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .prayer-card {
    padding: 0 55px;
    height: 172px;
  }

  .prayer-card__name {
    font-size: 14px;
    max-width: 90px;
    height: auto;
    word-wrap: break-word;
    text-align: center;
  }

  .prayer-card__time {
    bottom: 20px;
    padding: 5px 15px;
  }
}

@media (max-width: 767px) {
  .prayer-card {
    padding: 0 90px;
    height: 280px;
  }

  .prayer-card__name {
    font-size: 18px;
    max-width: 100%;
  }

  .prayer-card__time {
    bottom: 40px;
    padding: 10px 25px;
  }
}

@media (max-width: 576px) {
  .prayer-card {
    padding: 0 80px;
    height: 250px;
  }

  .prayer-card__name {
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  .prayer-card {
    padding: 0 60px;
    height: 187px;
  }

  .prayer-card__name {
    font-size: 13px;
  }

  .prayer-card__time {
    bottom: 20px;
  }
}
