.prayer-card {
  font-family: 'Roboto';
  position: relative;
  border-radius: 25px;
  padding: 0 90px;
  margin: 15px;
  height: 280px;
  background: #f3f6f9;
  background-repeat: no-repeat;
  background-position: 100% center;
  background-size: 100%;
  overflow: hidden;
}

.prayer_card__name {
  background: none;
  font-size: 18px;
  position: absolute;
  font-weight: 700;
  top: 58%;
  left: 50%;
  color: #32325c;
  transform: translate(-50%, -50%);
}

.prayer-card__time {
  padding: 10px 25px; 
  border-radius: 25px;
  position: absolute;
  font-weight: 900;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(rgba(255, 255, 255, .6),rgba(254, 254, 254, .6));
  text-align: center;
  color: #444;
}
