.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 25px 40px;
  box-shadow: 0 5px 25px 0 rgba(50, 50, 92, 0.15);
}

.header--logo{
  color: #32325c;
  font-weight: 900;
  font-size: 30px;
}

.header__info button {
  margin: 10px 10px;
}

.header__time {
  color: #8e6ed6;
}