.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 25px 40px;
  box-shadow: 0 5px 25px 0 rgba(50, 50, 92, 0.15);
}

.header__info {
  display: flex;
  align-items: center;
  margin: 10px;
}

.header__info * {
  padding: 10px;
}