body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  /* background: var(--main-theme-color);
  color: var(--main-text-color); */
  -webkit-overflow-scrolling: touch;
}

* {
  font-family: 'Exo 2', sans-serif;
}

.main{
  min-height: 100vh;
}

.container {
  width: 100%;
  /* padding-right: 15px;
  padding-left: 15px; */
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 320px) {
  .container {
    max-width: 300px;
  }
}


@media (min-width: 375px) {
  .container {
    max-width: 345px;
  }
}

@media (min-width: 425px) {
  .container {
    max-width: 390px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.dark {
  background:  #191d28;
  color: #fff;
}

.light {
  background: #eef2f7;
  color: #585a83;
}

.dark, .light {
  min-height: 100vh;
  padding-bottom: 20px;
}